.test1 {
  width: 80%;
  margin: 10px auto;
}

.test1 .text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.test2 {
  width: 80%;
  margin: 10px auto;
}

.test2 .text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.test3 {
  width: 80%;
  margin: 10px auto;
}

.test3 .text {
  border: 1px solid #ccc;
  border-radius: 5px;
}