.odd {
	background: #eee;
}

.even {
	background: #fff;
}

.slide {
	margin-top: 50px;
}

.carousel-control {
	display: none;
}

.carousel-caption {
	bottom: 70px;
	font-size: 40px;
	letter-spacing: 8px;
}

@media screen and (max-width: 768px) {
	.carousel-caption {
		bottom: 20px;
		font-size: 16px;
		letter-spacing: 2px;
	}
}

.navbar-right li.active {
	color: #fff;
}

.page-header {
	width: 40%;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

.page-header h2 {
	margin-bottom: 2px;
	font-weight: bold;
	letter-spacing: 3px;
}

.page-header p {
	margin-bottom: 0;
}

.thumbnail {
	box-shadow: 0 0 0 rgba(0,0,0,0);
	transition: all 0.3s;
}

.thumbnail:hover {
	margin-top: -10px;
	margin-bottom: 30px;
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.thumbnail .caption {
	padding-left: 20px;
	padding-right: 20px;
}

.thumbnail .caption h3 {
	line-height: 26px;
}

.thumbnail .caption p {
	height: 72px;
	margin-bottom: 38px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.img-responsive {
	width: 100%;
}

.load-more {
	float: right;
}

.load-more p{
	padding-right: 20px;
}

.case-show {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	overflow: hidden;
	box-shadow: 0 0 20 rgba(0,0,0,0);
}

.case-show img {
	transform: scale(1.0);
	transition: all .3s;
}

.case-show .mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 15px;
	padding-right: 15px;
	background: rgba(0,0,0,0);
	transition: all .5s;
}

.case-show .mask .case-title {
	height: 100%;
	line-height: 360px;
	margin: -200px 0 0 0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color: #fff;
	transition: all .3s;
}

.case-show .mask span {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -31px;
	margin-left: -121px;
	display: block;
	padding: 30px 120px;
	border: 2px solid #fff;
	transform: scale(0);
	transition: all .3s;
}

.case-show:hover {
	box-shadow: 0 0 20px rgba(0,0,0,.5);
}

.case-show:hover img {
	transform: scale(1.1);
}

.case-show:hover .mask {
	background: rgba(0,0,0,.5)
}

.case-show .mask:hover span {
	transform: scale(1);
}

.case-show:hover .case-title {
	margin-top: 0;
}

#life {
	margin-bottom: 40px;
}

.footer {
	padding-top: 40px;
	padding-bottom: 40px;
	border-top: 1px solid #e7e7e7;
	background: #f8f8f8;
}

.back-top {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 30px;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	background: #ccc;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.back-top:hover {
	background: #999;
}